// BASIC STYLES
@charset "UTF-8"

// CSS RESET
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
	margin: 0
	padding: 0
	border: 0
	font-weight: inherit
	font-style: inherit
	font-size: 100%
	font-family: inherit
	vertical-align: baseline



body
	background: #f6f6f6
	font:
		family: "Roboto", "Lato", "Open Sans", sans-serif

section p
	max-width: 500px
	margin: 100px auto 50px
	padding: 30px 20px
	background-color: $silver
	border-radius: 10px
	box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.8)

	// Devices smaller than 740px
	@media (max-width: 740px)
		background-color: $gray
