@charset "UTF-8"

// MANUAL CSS RESET
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
	margin: 0
	padding: 0
	border: 0
	font-weight: inherit
	font-style: inherit
	font-size: 100%
	font-family: inherit
	vertical-align: baseline
	box-sizing: border-box


// BASIC STYLES

body
	background: #f6f6f6
	font:
		family: "Roboto", "Lato", "Open Sans", Helvetica Neue, Helvetica, sans-serif
		weight: 400

section p
	max-width: 1024px
	width: 100%
	margin: 0px auto 80px
	padding: 120px 16px 40px
	position: relative
	background-color: lighten($silver, 20%)
	box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.5)

	// Devices smaller than 860px
	@media screen and (max-width: $break-one)
		padding: 120px 8px 40px
