//  NAVIGATION STYLES

header
  background-color: $aqua
  margin: 0px
  padding: 0px

#header-wrapper
  max-width: 840px
  background: transparent
  margin: 0 auto
  border: solid 1px black



.s-header
  line-height: 34px
  width: auto
  padding: 0 20px
  background: transparent

  transition: line-height 0.15s linear, box-shadow 0.15s linear
  position: fixed
  z-index: 100
  &.small
    line-height: 40px
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8)

  ul.nav
    background: transparent
  ul.nav li
    display: inline-block
    padding: 10px 20px

#logo
  background:
    color: red
    image: url("../img/logo.svg")
    position: center center
    size: contain
    repeat: no-repeat
  height: 80px
  width: 250px
  display: inline-block
  margin: 0px 10px 0px

// toggle test

#cptoggle
  width: 28px
  height: 30px
  margin: 10px 0px 0px
  z-index: 101
  display: inline-block
  background: yellow
  &:hover
    cursor: pointer

#cpmenu
  background: transparent
  padding: 50px 10px


// Hamburger Menu Styling
#cptoggle div
  width: 100%
  height: 5px
  background: black
  margin: 4px auto
  transition: all 0.3s
  backface-visibility: hidden

#cptoggle.on .one
  transform: rotate(45deg) translate(5px, 5px)

#cptoggle.on .two
  opacity: 0

#cptoggle.on .three
  transform: rotate(-45deg) translate(7px, -8px)
